.DS_Store
Thumbs.db

node_modules/

*.log
tmp/
temp/

.env.local
.env.development.local
.env.test.local
.env.production.local

frontend/build/

backend/dist/
backend/build/

.idea/
.vscode/
*.swp
*.swo

.cache/