$color-primary: #E43D12;
$color-secondary: #D6536D;
$color-secondary-light: #FFA2B6;
$color-secondary-dark: #A12C3D;
$color-info: #EFB11D;
$color-white: #EBE9E1;
$color-black: #1A1A1A;

$font-family: 'Open Sans', sans-serif;